body {
  padding: 0;
  margin: 0;
}

.header-bar {
  background-color: rgb(76, 0, 255);
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
}
.header-icon {
  margin-top: 20px;
  margin-right: 53px;
  cursor: pointer;
}